.container1{
    border: 2px solid black;
    width: 25%;
    height: 34vh;
    margin-left: 38%;
    margin-top: 4%;
}
.con{
    padding: 35px;

}
.container5{
    border: 2px solid black;
    width: 25%;
    height: 34vh;
    margin-left: 38%;
    margin-top: 15%;
}
.con{
    padding: 35px;

}

